<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <!--th:object는 <form>의 입력항목이 QuestionForm 과 연결된다는 점을 타임리프에 알려줌 -->
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" id="subject" class="form-control">
        </div>
         <div class="mb-3">
            <label>카테고리:</label>
            <select th:field="*{categoryId}">
				<option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
			</select>
            
        </div>
        
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea  th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
	
</html>